<app-toolbar></app-toolbar>
<mat-grid-list cols="4" rowHeight="2:1">
        <mat-grid-tile>
                <app-patient-card></app-patient-card>
        </mat-grid-tile>
        <mat-grid-tile>
                <app-patient-card></app-patient-card>
        </mat-grid-tile>
        <mat-grid-tile>
                <app-patient-card></app-patient-card>
        </mat-grid-tile>
        <mat-grid-tile>
                <app-patient-card></app-patient-card>
        </mat-grid-tile>
      </mat-grid-list>

<router-outlet></router-outlet>
